/* BASIC WEPAGE STYLINGS - The Stylings used to create the basic look of a webpage for the project*/
* {
  box-sizing: border-box;
}

.grid {
font-family: Arial;
display: grid;
grid-template-columns: 57% 43%;
padding: 10px;
}

.grid-item {
padding: 20px;
}

.title {
font-size: 30px;
}

.body {
padding-left: 20px;
}

.showcase {
background-color: lightgrey;
padding: 15px;
text-align: center;
}

.showcase-img {
display: block;
margin-left: auto;
margin-right: auto;



}
