/* PRODUCT PAGE STYLINGS - Stylings specfic to the Product Page */


body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }

  .top-bar 
{
    width: 100; 
    background-color: grey;
    
    padding:2px;
}

.top-bar input[type=text] {
   
    padding: 6px;
    border: none;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 17px;
  }




/*PRODUCT PAGE IMAGE */
.prodimg {
    background-color: #aaa;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 10px 18px;
  
  }
  
  /* ADD TO CART BUTTON*/
  .addtocart {
    background-color: #7e1c1c;
    color: white;
    display: block;
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* REVIEW BOX CSS */
  .checked {
    color: orange;
  }
  
  /* COLUMN LAYOUT */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* TEXT TO THE RIGHT */
  .right {
    text-align: right;
  }
  
  /* RESPONCEIVE LAYOUT FOR REVIEWS */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
  
/* LEFT COLUMN */
.leftcolumn {   
    float: left;
    width: 25%;
  }
  
  .leftcolumn h2{
    text-align: center;
  }

  .price{
      text-align: center;
  }

 
  
  
  /* RIGHT COLUM */
  .rightcolumn {
    float: left;
    width: 75%; 
    background-color: #f1f1f1;
    padding-left: 20px;
  }

  .rightcolumn h5{
      text-align: center;
  }

  /* CARD STYLING */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* FLOAT COLUMNS */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 
  
  /* RESPONSIVE LAYOUT FOR COLUMNS */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }  

  