/* .search-result {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 75px;
  float:center;
} */

.topbar-grid {
  font-family: Arial;
  float:center;
  display: grid;
  grid-template-columns: 20% 40%;
}

.topbar-grid-item {
  padding: 10px;
}

/* 
.headline {
  width: 75px;
  float: center;
  background-color: aqua;
} */
/* 
.search-result h1 {
  text-align: center;
  text-size-adjust: 5px;
} */